<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :diet, 'Preferências de Dieta', class: 'col-form-label' %>
  </div>
  <div class="col-md-9">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-control' %>
    <small class="form-text text-muted">Por exemplo, vegano, vegetariano, livre de glúten, e qualquer alergia ou intolerância.</small>
  </div>
</div>
