<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Obrigado!</h2>
      <p>Nós enviamos um email de confirmação para <tt><%= @guest.email %></tt>.</p>
      <p>Se não receber o email dentro de alguns minutos, por favor veja sua pasta de spam, e se não estiver lá, <%= mail_to ENV['CONTACT_EMAIL'], 'fale conosco' %>.</p>
      <p>O email contém um link que você pode usar para atualizar sua confirmação de presença, adicionar ou remover acompanhantes e adicionar um comentário.</p>
      <p><%= link_to 'Pagina Inicial', root_path %></p>
    </div>
  </div>
</div>
