<div class="row">
  <div class=" offset-lg-3 col-lg-6">
    <a href=<%= ticket_url %> target="_blank">Pagar com Pix</a>
  </div>
</div>
<div class="row">
  <div class=" offset-lg-3 col-lg-6">
    <img src='<%= "data:image/jpeg;base64,#{qr_code_base64}"%>' width="200" height="200" />
  </div>
</div>
<div class="row">
  <div class=" offset-lg-3 col-lg-6">
    <label for="copiar">Código copia e cola:</label>
    <input type="text" id="copiar" value=<%= qr_code %> readonly/>
  </div>
</div>